{% extends 'base.html' %}
{% block title %}
Диск
{% endblock %}
{% block body %}
    <table class="table table-striped table-sm">
        <thead>
                <tr>
                  <th>Name</th>
                  <th>Size</th>
                  <th></th>
                  <th></th>
                </tr>
        </thead>
        {% for filename, filesize in data %}
        <tr>
            <td>
                <div style="display: flex">
                    <img src="./folder_icon.jpg" alt="">
                    <p>{{ filename }}</p>
                </div>
            </td>
            <td>{{ filesize }}</td>
            <td>
                <a href="/download?name={{filename}}&action=upl" class="btn btn-success">Download</a>
            </td>
            <td>
                <a href="/download?name={{filename}}&action=del" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <!--<a href="../database/1596747642220-01.jpeg">name</a>-->
{% endblock %}

